body {
    background-color: rgb(185,20,80);
}

form {
    background-color: white;
    color: rgb(185,20,80);
    font-size: larger;
}

#reset-button {
    font-size: 13px;
}

@media screen and (min-width: 992px) {
    form {
        width: 80%;
    }
    #ticketDiv {
        width: 80%;
    }
}

#reset-button {
    font-size: 13px;
}


/* AIMAZIONE TRENO */
#treno-animation::before,
#treno-animation::after {
    color: white;
    font-size: larger;
    margin: 0 5px;
    position: absolute;
    top: 50%; 
}
#treno-animation::before {
    content: 'Buon';
}
#treno-animation::after {
    content: 'Viaggio!';
    right: 0;    
}

#treno-animation {
    background-color: rgb(18, 144, 175);
    overflow: hidden;
    max-width: 280px;
    min-height: 180px;
    bottom: 0;
    left: 0;
}

#train-img {
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 90;
    animation-name: trainAnime;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cloud-img {
    top: 50px;
    
    animation-name: cloudAnime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#cloud-img2 {
    left: 10%;
    top: 10px;
    animation-name: cloudAnime2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#terra {
    background-color: rgb(19, 95, 12);
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

@keyframes trainAnime {
    from {
        rotate: -2deg;
    }
    to {
        rotate: +2deg;
    }
}

@keyframes cloudAnime {
        from {
            left: 0
        }
        to {
            left: 100%
        }
}

@keyframes cloudAnime2 {
    from {
        
        scale: 0.9
    }
    to {
        scale: 1.1;
    }
}